ErrorDocument 401 "Authorisation Required"
ErrorDocument 403 "Authorisation Required"

AuthName "Secure Area"
AuthType Basic
AuthUserFile "{{ wp_htpasswd_admin_path }}/.htpasswd"

SetEnvIf Request_URI "^.*/admin-ajax.php.*" ajax

Order allow,deny
Require valid-user
Allow from env=ajax
Deny from env=!ajax
Satisfy any
