<?php
/**
 * The base configuration for WordPress
 *
 * The wp-config.php creation script uses this file during the
 * installation. You don't have to use the web site, you can
 * copy this file to "wp-config.php" and fill in the values.
 *
 * This file contains the following configurations:
 *
 * * MySQL settings
 * * Secret keys
 * * Database table prefix
 * * ABSPATH
 *
 * @link https://codex.wordpress.org/Editing_wp-config.php
 *
 * @package WordPress
 */
{% if wp_enable_https is defined and wp_enable_https %}
$_SERVER['HTTPS'] = 'On';
{% endif %}

@ini_set( 'upload_max_filesize' , '{{ wp_import_max_size }}' );
@ini_set( 'post_max_size', '{{ wp_import_max_size }}');
@ini_set( 'memory_limit', '{{ wp_import_max_size }}' );
@ini_set( 'max_execution_time', '{{ wp_import_timeout }}' );
@ini_set( 'max_input_time', '{{ wp_import_timeout }}' );

// ** MySQL settings - You can get this info from your web host ** //
/** The name of the database for WordPress */
define('DB_NAME', '{{ wp_mysql_name }}');
/** MySQL database username */
define('DB_USER', '{{ wp_mysql_user }}');
/** MySQL database password */
define('DB_PASSWORD', '{{ wp_mysql_passwd }}');
/** MySQL hostname */
define('DB_HOST', '{{ wp_mysql_host }}');
/** Database Charset to use in creating database tables. */
define('DB_CHARSET', '{{ wp_mysql_charset }}');
/** The Database Collate type. Don't change this if in doubt. */
define('DB_COLLATE', '');
/**#@-*/
/**
 * WordPress Database Table prefix.
 *
 * You can have multiple installations in one database if you give each
 * a unique prefix. Only numbers, letters, and underscores please!
 */
$table_prefix  = '{{ wp_table_prefix }}';
/**
 * WordPress Localized Language, defaults to English.
 *
 * Change this to localize WordPress. A corresponding MO file for the chosen
 * language must be installed to wp-content/languages. For example, install
 * de_DE.mo to wp-content/languages and set WPLANG to 'de_DE' to enable German
 * language support.
 */
//define('WPLANG', '{{ wp_lang }}');
/**
 * For developers: WordPress debugging mode.
 *
 * Change this to true to enable the display of notices during development.
 * It is strongly recommended that plugin and theme developers use WP_DEBUG
 * in their development environments.
 *
 * For information on other constants that can be used for debugging,
 * visit the Codex.
 *
 * @link https://codex.wordpress.org/Debugging_in_WordPress
 */
{% if wp_enable_log_debug is defined and wp_enable_log_debug %}
define('WP_DEBUG',          true);
define('WP_DEBUG_LOG',      true);
define('WP_DEBUG_DISPLAY',  true);
{% else %}
define('WP_DEBUG',          false);
define('WP_DEBUG_LOG',      false);
define('WP_DEBUG_DISPLAY',  false);
{% endif %}

{% if wp_root_url is defined and wp_root_url %}
{% if wp_home_server_name_enabled is defined and wp_home_server_name_enabled %}
define( 'WP_HOME', 'https://' . $_SERVER['SERVER_NAME'] );
{% else %}
define( 'WP_HOME', '{{ wp_root_url }}' );
{% endif %}
define( 'WP_SITEURL', '{{ wp_root_url }}' );
{% endif %}

/* That's all, stop editing! Happy blogging. */
/** Absolute path to the WordPress directory. */
if ( !defined('ABSPATH') )
	define('ABSPATH', dirname(__FILE__) . '/');
/** Sets up WordPress vars and included files. */
require_once(ABSPATH . 'wp-settings.php');

require_once( ABSPATH .'wp-includes/plugin.php' );

add_action( 'phpmailer_init', function ( $phpmailer ) {
    $phpmailer->isSMTP();
    $phpmailer->Host = getenv('WORDPRESS_SMTP_HOST');
    $phpmailer->Port = intval(getenv('WORDPRESS_SMTP_PORT'));
    $phpmailer->Username = getenv('WORDPRESS_SMTP_USERNAME');
    $phpmailer->Password = getenv('WORDPRESS_SMTP_PASSWORD');
    $phpmailer->From = getenv('WORDPRESS_SMTP_FROM');
    $phpmailer->FromName = getenv('WORDPRESS_SMTP_FROM_NAME');

    // Additional settings
    $phpmailer->SMTPAuth = true;
    $phpmailer->SMTPSecure = "tls";
    $phpmailer->SMTPAutoTLS = true;

    // Filter out client message body and output debug info to the logs
    // NOTE: Log level must be set to '2' or higher in order for the filter to work
    $phpmailer->SMTPDebug = 2;

    $phpmailer->Debugoutput = function($str) {
        static $logging = true;
        if ($logging === false && strpos($str, 'SERVER -> CLIENT') !== false) {
            $logging = true;
        }
        if ($logging) {
            error_log("SMTP " . "$str");
        }
        if (strpos($str, 'SERVER -> CLIENT: 354') !== false) {
            $logging = false;
        }
    };

    error_log("[SMTP] Sending mail : " . var_export($phpmailer, true));
});

// Prevent Wordpress from overriding the SMTP FROM address (Office 365 compatibility)
add_filter( 'wp_mail_from', function( $email ) {
    return $_ENV["WORDPRESS_SMTP_FROM"];
});

add_action('wp_mail_failed', function( $wperror ) {
  error_log(implode("; ", $wperror->get_error_messages()));
});
